#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#### Creating a DataFrame from our DataSet using Pandas :

In [2]:
dataSet = pd.read_csv('diabetes.csv')

In [3]:
dataSet.head(21)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0

#### Getting some statistical measures of the data

In [4]:
dataSet.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
dataSet['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

> 0 means Non-Diabetic
>
> 1 means Diabetic

In [6]:
dataSet.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

#### Filling Null values

In [7]:
#we should replace the 0 values in Glucose, BloodPressure, SkinThickness, Insulin, BMI with {NaN}
df_copy = dataSet.copy(deep=True)
df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [8]:
#the next step is to fill null values with mean or median depending on distripution
df_copy['Glucose'].fillna(df_copy['Glucose'].mean(), inplace=True)

df_copy['BloodPressure'].fillna(df_copy['BloodPressure'].mean(), inplace=True)

df_copy['SkinThickness'].fillna(df_copy['SkinThickness'].median(), inplace=True)

df_copy['Insulin'].fillna(df_copy['Insulin'].median(), inplace=True)

df_copy['BMI'].fillna(df_copy['BMI'].median(), inplace=True)

#### Sperating The Data and The Labels

In [9]:
X = dataSet.drop(columns = 'Outcome', axis = 1)
Y = dataSet['Outcome']

#### Standarization of Data

In [10]:
scalar = StandardScaler()
scalar.fit(X)

StandardScaler()

In [11]:
standarized_data = scalar.transform(X)

In [12]:
X = standarized_data
Y = dataSet['Outcome']

## Train Test Splite :

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

## Train The Model :

In [14]:
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

## The Accuracy :

In [15]:
#the accuracy of training
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print(f'The Accuracy of training : {training_data_accuracy}')

The Accuracy of training : 1.0

In [16]:
#the accuracy of test
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(f'The Accuracy of test : {test_data_accuracy}')

The Accuracy of test : 0.7142857142857143

# Prediction System

In [17]:
instance = (5,166,72,19,175,25.8,0.587,51)

In [18]:
arr = np.asarray(instance)
reshape = arr.reshape(1, -1)

In [19]:
std = scalar.transform(reshape)
prediction = classifier.predict(std)

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [20]:
if (prediction[0] == 0):
    print('Not Diabetic')
else :
    print('Diabetic')

Diabetic